{ 
    "datastore": {
        "type": "elasticsearch",
        "config": {
            "host": "{{vd_ess_host}}",
            "port": {{vd_ess_port}},
            "index": "{{vd_ess_index}}",
            "mapping_file": "/opt/vindaloo/etc/mapping.json"
        }
    },
    "asset": {
        "required_fields": {{asset_required_fields}},
        "enforced_fields": {
            "status": ["enabled", "disabled"]
        }
    },
    "default_result_size": 1000000,
    "webroot": "/opt/vindalu-ui/ui",
    "events": {
        "enabled": true,
        "config_file": "/opt/vindaloo/etc/gnatsd.conf"
    },
    "endpoints":{
        "api_prefix": "{{vd_api_prefix}}",
        "raw": "raw",
        "events": "events"
    },
    "auth": {
        "type": "{{vd_auth_type}}",
        "config": {
            {% if vd_auth_type == 'ldap' %}"url": "{{vd_ldap_url}}",
            "search_base": "{{vd_search_base}}",
            "bind_dn": "{{vd_bind_dn}}",
            "bind_password": "{{vd_bind_password}}",
            "cache_ttl": {{vd_auth_cache_ttl}}{% else %}"htpasswd_file": "{{vd_auth_basic_htpasswd_file}}"
            {% endif %}
        },
        "groups_file": "/opt/vindaloo/etc/local-groups.json",
        "token": {
            "signing_key": "{{vd_token_signing_key}}",
            "ttl": {{vd_token_ttl}}
        }
    },
    "version": "{{vd_version}}"
}